#heading1{
    color:blue;
}
#txt-area{
    width:80%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: 1rem;

}
#output{
    border: 1px solid black;
    height: 10vh;
    margin: 2rem 2rem 0rem 0rem;
    
}