
#txt-area{
    size: 2rem;
    display: block;
    padding: 1rem;
    box-sizing:border-box;
    margin top:1rem;
    width:100%

}
#output{
    border: 1px solid black;
    height: 10vh;
    margin: 2rem 2rem 0rem 0rem;
    
}
.header{
    color:black;
    background-color: yellow;
    text-align: center;
    height:3rem;
    font-size: 2rem;
    padding: 1rem;
}
main{
    padding:1rem;
    box-sizing:border-box;
    display: block;
}